<footer class="py-4" [ngClass]="{'dark_mode':mode , 'dark_bg':!mode}">
  <div class="container">
    <div class="row">
      <div class=" col-12 col-md-4">
        <div class="text-center text-md-start">
          <div class="w_80px m-auto m-md-0">
            <img loading="lazy" src="../../../assets/images/ITbook.png" alt="logo" class="img-fluid">
          </div>
          <div>
            <h2 class="font_5 mt-3 display-6 gold_color">IT book Store</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center text-md-start mt-4 mt-md-0">
          <h2 class="gold_color fs-1 mb-3 font_5">Team</h2>
          <ul class="list-unstyled lh-lg text-white fw-bold">
            <li routerLink='/about'>Ahmed Hamed</li>
            <li routerLink='/about'>Ahmed Harfoush</li>
            <li routerLink='/about'>Mohamed Abo Ali</li>
            <li routerLink='/about'>Khairy Khaled</li>
            <li routerLink='/about'>Farah Dawod</li>
            <li routerLink='/about'>Sherifa Abo Obia</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center text-md-start mt-4 mt-md-0">
          <h2 class="gold_color fs-1 mb-3 font_5 mb-5">Support</h2>

          <a href="https://ahmedhamed2002.github.io/P18_AiChatBot/" target="_blank" class="chat text-decoration-none fs-2 font_6 text-white-50 mt-5">
            Chat Bot <i class="fa-brands fa-rocketchat gold_color"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
